.pop_up {
position: absolute; /*Para poder ubicar la info dentro de la caja*/
margin: 0 1px 1px 1px;
}
.pop_up img {
/*border:2px solid black;*/
}
.info {
position: absolute; /*Info sobre la imagen*/
top: 5%;
left: 10%; /*Desplazamos a partir de la esquina superior izquierda*/
zoom: 1;
filter: alpha(opacity=0); /*Opacidad Para IE */
opacity: 0; /*Inicialmente transparente */
padding: 5px;
color: white;
background: black;
-moz-transition:all ease .8s; /*Aplicamos una ligera transición*/
-webkit-transition:all ease .8s ;
transition:all ease .8s;
}
.pop_up:hover .info {
filter: alpha(opacity=100);
opacity: .8; /*Al hacer hover sobre la caja hacemos visible los datos*/
}
p{
	font-size: 15px;
}